-r requirements.txt
pytest==8.3.5
pytest-qt==4.4.0
PyInstaller==6.13.0
pyinstaller-hooks-contrib==2026.8
altgraph==0.17.5
setuptools==84.0.0
packaging==26.3
pluggy==1.6.0
iniconfig==2.3.0
colorama==0.4.6; sys_platform == "win32"
pefile==2023.2.7; sys_platform == "win32"
pywin32-ctypes==0.2.3; sys_platform == "win32"
